<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/home">Website</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarCollapse"
      aria-controls="navbarCollapse"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav me-auto mb-2 mb-md-0">
        <li class="nav-item">
          <a class="nav-link" routerLink="/home" routerLinkActive="active"
            >Home</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/Authors" routerLinkActive="active"
            >Authors</a
          >
        </li>
      </ul>
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active">
          <a class="nav-link" routerLink="/SignIn" routerLinkActive="active"
            >Sign in</a
          >
        </li>
        <li class="nav-item active mx-sm-3">
          <a class="nav-link" routerLink="/SignUp" routerLinkActive="active"
            >Sign Up</a
          >
        </li>
      </ul>
    </div>
  </div>
</nav>
