<div class=" bg-cover bg-center	 bg-[url('assets/Images/bgimg.webp')] pb-20 sm:py-10">
  <div class="mx-auto max-w-7xl px-6 lg:px-8">
    <!-- <div class="mx-auto max-w-2xl lg:text-center">
      <h2 class="text-primary-600 font-bold leading-7 ">
       Choose User To Register 
      </h2>
     
    </div> -->
    <div class="mx-auto mt-10 max-w-2xl sm:mt-20 lg:mt-24 lg:max-w-4xl">
      <dl
        class="grid max-w-xl grid-cols-1 gap-x-8 gap-y-10 lg:max-w-none lg:grid-cols-2 lg:gap-y-16"
      >
        <div class="relative pl-16">
          <a [routerLink]="['/registration/registerasresturant']"  >
          <button class="text-3xl bg-green-500 hover:bg-green-400 text-white font-bold py-4 px-4 border-b-4 border-green-700 hover:border-green-500 rounded">
            Register As Resturant 
          </button>
        </a>
        </div>
        <div class="relative pl-16">
          <a [routerLink]="['/registration/registerascustomer']" routerLinkActive="router-link-active" >
            <button class="bg-blue-500 text-3xl hover:bg-blue-400 text-white font-bold py-4 px-4 border-b-4 border-blue-700 hover:border-blue-500 rounded">
              Register As Customer 
            </button>
          </a>
        </div>
      

      </dl>
    </div>
  </div>
</div>
`
