<p-button
  styleClass="p-button-rounded p-button-danger p-button-text"
  (click)="showDialog('top')"
>
  <i
    class="pi pi-shopping-cart"
    pBadge
    severity="info"
    value="{{ cartService.TotalNumberOfItems }}"
  ></i>
</p-button>

<!-- DIALOG -->
<p-dialog
  header="Cart"
  [(visible)]="visible"
  [position]="position"
  [style]="{ width: '50vw' }"
>
  <div class="card">
    <p-dataView #dv [value]="cartService.CartItems">
      <ng-template let-cartItem pTemplate="listItem">
        <div class="col-12">
          <div class="flex flex-row xl:flex-row xl:align-items-start p-4 gap-4">
            <img
              class="w-25 sm:w-16rem xl:w-10rem shadow-2 block xl:block mx-auto border-round"
              [src]="cartItem.product.img"
              [alt]="cartItem.name"
            />
            <div
              class="flex flex-row sm:flex-row justify-content-between align-items-center xl:align-items-start flex-1 gap-4"
            >
              <div
                class="flex flex-column align-items-start sm:align-items-center gap-3"
              >
                <div class="flex flex-row gap-1">
                  <div class="text-2xl font-bold text-900">
                    {{ cartItem.product.productname }}
                  </div>
                  <p-badge [value]="cartItem.quantity"></p-badge>
                </div>

                <div class="flex align-items-center gap-3">
                  <span class="flex align-items-center gap-2">
                    <i class="pi pi-tag"></i>
                    <span class="font-semibold">{{
                      cartItem.product.type
                    }}</span>
                  </span>
                </div>
              </div>
              <div
                class="flex sm:flex-column align-items-center sm:align-items-end gap-3 sm:gap-2"
              >
                <span class="text-2xl font-semibold">{{
                  "$" + cartItem.product.price
                }}</span>
                <p-button
                  icon="pi pi-times"
                  styleClass="p-button-rounded p-button-info p-button-text"
                  (click)="cartService.removeFromCart(cartItem)"
                ></p-button>
              </div>
            </div>
          </div>
        </div>
      </ng-template>
    </p-dataView>

    <!-- TOTAL PRICE -->
    <div class="col-12">
      <div
        class="flex flex-row justify-content-between xl:flex-row xl:align-items-start p-4 gap-4"
      >
        <div class="text-2xl font-bold text-900">Total Price</div>
        <span class="text-2xl font-semibold">{{
          "$" + cartService.TotalPrice
        }}</span>
      </div>
    </div>

    <!-- CHECKOUT BUTTON -->
    <div
      class="flex flex-row justify-content-center xl:flex-row xl:align-items-center p-4 gap-4"
    >
      <button
        class="btn btn-primary"
        routerLink="/checkout"
        (click)="visible = false"
        [disabled]="isCartEmpty()"
      >
        checkout
      </button>
    </div>
  </div>
</p-dialog>
