<div class="container">
    <footer class="row py-5 my-5 border-top">
      <div class="col-12 col-sm-8 py-4">
        <h2>
            Online-Shop
        </h2>
        <p class="text-muted" >Lorem ipsum dolor sit amet, consectetur adipiscing elit. Blandit malesuada dapibus ut pulvinar neque arcu, commodo. Pharetra nisi egestas nisi fermentum. Sollicitudin egestas senectus pellentesque enim mauris vel odio commodo. Pellentesque orci vestibulum sed in molestie consequat. </p>

        <p class="text-muted">© 2021</p>
      </div>

      <div class="col-6 col-sm-2">
        <h5>Contact Us</h5>
        <ul class="nav flex-column">
          <li class="nav-item mb-2">
            <i class="pi pi-phone mx-1"></i>
            <a href="#" class="nav-link p-0 text-muted">+420 69420</a>
          </li>
          <li class="nav-item mb-2">
            <i class="pi pi-comment mx-1"></i>
            <a href="#" class="nav-link p-0 text-muted">test@email.net</a>
          </li>
          <li class="nav-item mb-2">
            <i class="pi pi-map-marker mx-1"></i>
            <a href="#" class="nav-link p-0 text-muted">Alexandria</a>
          </li>
        </ul>
      </div>
  
      <div class="col-6 col-sm-2">
        <h5>About Us</h5>
        <ul class="nav flex-column">
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Support</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Privacy & Policy</a></li>
        </ul>
      </div>
    </footer>
  </div>