<section class=" p-5 bg-cover bg-[url('assets/Images/new-banner.avif')] dark:bg-gray-900">
  <div class="card" >
    <p-steps class="mb-3"  [model]="items" [readonly]="true"></p-steps>
  </div>
  <div
    class="flex flex-col items-center justify-center px-6 py-8 mx-auto md:h-screen lg:py-5"
  >
    <div
      class="w-full bg-white rounded-lg shadow dark:border md:mt-0 sm:max-w-md xl:p-0 dark:bg-gray-800 dark:border-gray-700"
    >
      <div class="p-6 space-y-4 md:space-y-6 sm:p-8">
        <h1
          class="text-xl font-bold leading-tight tracking-tight text-gray-900 md:text-2xl dark:text-white"
        >
           Customer Personal Data 
        </h1>
        <form
          [formGroup]="CustomerForm"
          (ngSubmit)="submitForm()"
          class="space-y-4 md:space-y-6"
        >
          <div>
            <div class="grid gap-6 mb-6 md:grid-cols-2">
              <div>
                <label
                  for="first_name"
                  class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
                  >First name</label
                >
                <!-- Alert On InValid First Name  -->
                <p
                  *ngIf="CustomerFirstName.invalid && CustomerFirstName.touched"
                  class="text-red-500 text-xs italic"
                >
                  Not Valid Must be In Range 4-30
                </p>

                <input
                  type="text"
                  id="first_name"
                  class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                  placeholder="John"
                  formControlName="UserName"
                  formControlName="CustomerFirstName"
                  required
                />
              </div>

              <div>
                <label
                  for="last_name"
                  class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
                  >Last name</label
                >
                <!-- Alert On InValid Last  Name  -->

                <p
                  *ngIf="CustomerLastName.invalid && CustomerLastName.touched"
                  class="text-red-500 text-xs italic"
                >
                  Not Valid Must be In Range 4-30
                </p>
                <input
                  type="text"
                  id="last_name"
                  class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                  placeholder="Doe"
                  formControlName="CustomerLastName"
                  required
                />
              </div>
              <div>
                <label
                  class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
                  >Birth Date</label
                >
                <!-- Error In Birth Date Must Be in Past  -->
                <p
                  *ngIf="CustomerBirthDate.invalid && CustomerBirthDate.touched"
                  class="text-red-500 text-xs italic"
                >
                  BirthDate is Requierd & In Past
                </p>

                <input
                  type="date"
                  id="company"
                  class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                  placeholder="MM-DD-YYYY"
                  formControlName="CustomerBirthDate"
                  required
                />
              </div>
              <div>
                <label
                  for="phone"
                  class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
                  >Phone number</label
                >
                <!-- Alert On InValid Phone Number  -->

                <p
                  *ngIf="CustomerPhone.invalid && CustomerPhone.touched"
                  class="text-red-500 text-xs italic"
                >
                  Phone Must Be 11 digit
                </p>

                <input
                  type="tel"
                  id="phone"
                  class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                  placeholder="123-45-678"
                  required
                  formControlName="CustomerPhone"
                />
              </div>
            </div>


            <div class="mb-6">
              <label
                class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
                > Address</label
              >
              <!-- Alert On InValid Email  -->

              <p
                *ngIf="CustomerAddress.invalid && CustomerAddress.touched"
                class="text-red-500 text-xs italic"
              >
                Address Is Required
              </p>
              <input
                type="text"
                class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                placeholder="Address"
                formControlName="CustomerAddress"
                required
              />
            </div>




            <div class="mb-6">
              <label
                for="email"
                class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
                >Email address</label
              >
              <!-- Alert On InValid Email  -->

              <p
                *ngIf="CustomerEmail.invalid && CustomerEmail.touched"
                class="text-red-500 text-xs italic"
              >
                Not Valid Email
              </p>
              <input
                type="email"
                id="email"
                class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                placeholder="john.doe@company.com"
                formControlName="CustomerEmail"
                required
              />
            </div>

            <div class="mb-6">
              <label
                for="password"
                class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
                >Password</label
              >
              <!-- Alert On InValid Email  -->

              <p
                *ngIf="CustomerPassword.invalid && CustomerPassword.touched"
                class="text-red-500 text-xs italic"
              >
                Password Must be valid
              </p>
              <input
                type="password"
                id="password"
                class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                placeholder="•••••••••"
                formControlName="CustomerPassword"
                required
              />
            </div>
            <div class="mb-6">
              <label
                for="confirm_password"
                class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
                >Confirm password</label
              >
              <!-- Alert On InValid Email  -->

              <p
                *ngIf="
                  CustomerPassword.value != CustomerConfirmPassword.value &&
                  CustomerPassword.touched 
                "
                class="text-red-500 text-xs italic"
              >
                Password Doesn't match
              </p>
              <input
                type="password"
                id="confirm_password"
                class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                placeholder="•••••••••"
                formControlName="CustomerConfirmPassword"
                required
              />
            </div>
          </div>
          <button
            type="submit"
            class="w-full text-white bg-purple-500 hover:bg-purple-600 focus:ring-4 focus:outline-none focus:ring-primary-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-800"
          >
           Submit
          </button>
          <p class="text-sm font-light text-gray-500 dark:text-gray-400">
            Already have an account?
            <a
            [routerLink]="['../../authentcation/login']" 
              class="font-medium text-primary-600 hover:underline dark:text-primary-500"
              >Login here</a
            >
          </p>
        </form>
      </div>
    </div>
  </div>
</section>
<!-- <app-personal-data></app-personal-data> -->